{% extends "base.html.twig" %}

{% block body %}

    <h1>Dit is de detail pagina van een student</h1>
    <p> Student in kwestie:</p>

   {{ student.naam }}
   {{ student.voornaam }}
   {{ student.punten }}
    {{ student.geslacht }}


{% endblock %}